# Default ignored files
/shelf/

/backend/.idea/workspace.xml
/.idea
.env

/workspace.xml
*.env

# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.vscode/
.DS_Store
/.idea
__pycache__/

