# Default ignored files
/shelf/
.idea/
backend/.idea/
backend/__pycache__/
.env
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.vscode/
.DS_Store
fastapi/
venv/